<section class="passenger-name">
  <%= tag.h2 @passenger.name %>
</section>

<section class="passenger-flights">
  <%= tag.h3 "Passenger Flights" %>
  <% @passenger.flights.each do |flight| %>
    <%= link_to flight.number, flights_path(flight) %>
  <% end %>
</section>

<%= form_with(url: "/passengers/#{@passenger.id}/flights", method: "post", id: "passenger-flight-assignment-form") do %>
  <%= label_tag(:flight_number, "Add A Flight") %>
  <%= text_field_tag(:flight_number, nil, placeholder: "Flight Number") %>
  <%= submit_tag("Add Passenger to Flight") %>
<% end %>
